{% extends 'generator.html' %}
{% load static %}
{% block content %}
<!-- Form -->
 <div class="container-fluid">
    <div class="row justify-content-center" style="background-size: cover; background-position: center; background-attachment: fixed; height: 200px; overflow: hidden; background-image: url('{% static 'img/institution.jpg' %}');" >
        <h1 style="margin: auto;font-size: 80px;">Edit Institutions</h1>
    </div>
    <div class="row justify-content-center m-5" style="border-radius: 9px;">    
        <div class="row justify-content-center mt-3">            
            <div class="col-9">
                {% for i in data %}
                <form method="post" action="{% url 'updateinstitution' id=i.id %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formFile" class="form-label">institution Name</label>
                        <input class="form-control" type="text" name="institutionName" value="{{ i.institutionName }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">institution Address</label>
                        <input class="form-control" type="text" name="institutionAddress" value="{{ i.institutionAddress }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFileDisabled" class="form-label">logo</label>
                        <input class="form-control" type="file" name="institutionLogo" value="{{ i.institutionLogo }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Institution Number</label>
                        <input class="form-control" type="text" name="institutionNumber" value="{{ i.institutionNumber }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Institution Alternate number</label>
                        <input class="form-control" type="text" name="institutionNumber2" value="{{ i.institutionNumber2 }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">institution Email</label>
                        <input class="form-control" type="text" name="institutionEmail" value="{{ i.institutionEmail }}">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">institution alt Email</label>
                        <input class="form-control" type="text" name="institutionEmail2" value="{{ i.institutionEmail2 }}">
                    </div>
                    <div class="col-6">
                        <button  type="submit" class="solid-butn">Submit</button>
                    </form>
                    <button type="button" class="hollow-butn" onclick="window.location.href='{% url 'institutions' %}'" >Cancel</button>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>

 </div>
{% endblock %}
