{% extends 'generator.html' %}
{% load static %}
    {% block content %}    
    <div class="container-fluid">

        <div class="row">
            <h1 style="font-size: 60px;">Institutions</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 text-center m-3">
                    <a href="{% url 'addinstitutions' %}"><button class="box">
                        <h1>+</h1>
                    </button></a>
                </div>
                {% for i in idata %}
                <div class="col-2 text-center m-3">
                    <a href="{% url 'addinstitutions' %}"><button class="box">
                        <img class="mb-5" src="{{ i.institutionLogo.url }}" width="150px" height="150px" style="border-radius: 75px ;border-style: solid;border-width: 1px;background-size: auto;" >
                        <h5>{{ i.institutionName }}</h5>
                    </button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
